@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

body {
    text-align: center;
    font-family: "Almarai", sans-serif;
}

h2 {
    color: #033479;
}

.container {
    padding: 10px 0;
}

.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
}

.canvas-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
}

canvas {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px;
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.lang {
    margin-bottom: 10px;
    color: #033479;
    font-weight: 700;
}

input[type='radio'] {
    accent-color: #033479;
}

input[type='text'],
select,
.download-btn {
    width: 100%;
    max-width: 300px;
}

input[type='text'] {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    text-align: right;
    direction: rtl;
    transition: all 0.3s ease-in-out;
}

select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    text-align: right;
    direction: rtl;
    transition: all 0.3s ease-in-out;
}

input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    direction: rtl;
    font-size: 14px;
}

input[type='text']:focus {
    border: 1px solid #f44d00;
    box-shadow: 0 0 8px rgb(244, 77, 0, 0.6);
    outline: none;
}

.download-btn {
    margin-bottom: 50px;
    padding: 8px;
    font-size: 16px;
    background: #f44d00;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    height: 40px;
    transition: 0.4s;
}

.download-btn:hover {
    background-color: rgb(204, 65, 0);
}

